input[type='text'],
input[type='number'],
input[type='search'],
input[type='password'],
input[type='tel'],
input[type='email'] {
  color: #43464c;
  font-size: 14px;
  font-weight: 300;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 0;
  padding: 10px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: none;
  transition: border 0.3s;

  &:hover {
    border-color: $color-primary-light;
  }

  &:focus {
    border-color: $color-primary;
  }

  &.error {
    border-color: $color-state-error !important;

    &:focus {
      border-color: $color-state-error !important;
    }
  }

  &[disabled] {
    color: #999999;
  }
}

[for] {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: #fff;
}

.field {
  @include cf;
  position: relative;
  display: block;
  width: 100%;

  &.error {
    input[type='text'],
    input[type='tel'],
    input[type='number'],
    input[type='password'] {
      border-color: $color-state-error !important;
    }
  }

  &.dark {
    input[type='text'],
    input[type='tel'],
    input[type='number'] {
      color: #fff;
      border: 1px solid #fff;
    }
  }

  [class*='notice'] {
    bottom: 10px;
    left: 20px;
    right: 20px;
    width: auto;
  }

  &.space {
    padding: 0 20px 35px;
  }
}

::placeholder {
  color: #9e9e9e;
}

input[type='search'] {
  -webkit-appearance: none;
  padding-right: rem(5px);
}

[class*='optional'] {
  font-size: $text-small;

  &[class*='--right'] {
    float: right;
    text-align: right;
  }
}

input[disabled] {
  cursor: default;
}

@document-Regel: url-prefix() {
  input[type='text'] {
    padding-top: 0.6rem;
  }
}

input[type='number'] {
  min-width: 60px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
