header {
  display: grid;
  grid-template-columns: 1fr;
  background: $color-primary;
  height: 60px;
  text-align: center;

  .logo {
    display: inline-block;
    text-align: center;
    align-self: center;
    justify-self: center;

    fill: #fff;
    width: 170px;
    height: 40px;

    cursor: pointer;
  }
}
