.list-wrapper {
  width: 100%;
  overflow-x: unset;
  @include on(tablet) {
    overflow-x: auto;
  }
  border: 1px solid transparent;

  &.error {
    border-color: $color-state-error;
  }

  li {
    display: block;
    text-align: left;
    padding-bottom: 1px;
    width: 100%;
    cursor: pointer;

    label {
      font-weight: 600;
      color: $color-text;
    }
  }

  div {
    @include cf;
    padding: 10px;
  }

  strong {
    display: block;
    padding: 7px 10px;
    color: #787878;
    font-size: 14px;
    font-weight: 600;
    float: left;
  }

  li:nth-child(odd) div {
    background: #f7f7f7;
  }

  li:hover div {
    background-color: #ededed;
  }
}
