.results .actions {
  @include cf();

  display: flex;
  justify-content: space-between;
  width: 100%;
  // overflow: hidden;
  background: $color-primary;

  * {
    color: #fff;
  }

  .edit {
    display: inline-block;

    svg {
      float: left;
    }

    small {
      color: #fff;
      font-size: 16px;
      float: left;
      padding: 7px 8px 0 0;
    }
  }

  h2 {
    flex: 1;
    padding: 8px 10px 8px 10px;

    strong {
      display: block;
      font-weight: normal;
      font-size: 18px;
      padding-bottom: 2px;
    }

    small {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
