.different-location {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;

  small {
    display: block;
    text-align: center;
    padding-bottom: 10px;

    svg {
      fill: $color-primary;
      width: 50px !important;
      height: 50px !important;
    }
  }

  strong {
    color: $color-primary;
    font-size: 18px;
    font-weight: 300;
  }
}
