.settings {
  margin: 0 auto;
  max-width: 1000px;
}

.settings h3 {
  display: block;
  width: 100%;
  font-size: 20px;
  color: #787878;
  padding-bottom: 15px;
}

.settings .info {
  color: #bbb;
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 20px;
}
