[class*='checkbox'] {
  @extend %round;

  float: left;
  padding: 2px;
  border: 1px solid #e1e1e1;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;

  svg {
    fill: $color-primary;
  }

  &[class*='-medium'] {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;

    svg {
      height: 25px;
      width: 25px;
    }
  }

  &[class*='-active'] {
    border-color: $color-primary !important;
  }

  &[class*='-disabled'] {
    border-color: #c4c4c4 !important;

    svg {
      fill: #c4c4c4;
    }
  }
}
