[data-row] {
  @include cf();

  display: block;
  width: 100%;

  &.center {
    text-align: center;
  }

  &.space {
    padding-bottom: 3.5em;
  }
}

.gutter {
  $mobile-default-gutter: $space-medium - 0.8;

  width: auto;
  display: block;
  margin-left: -$mobile-default-gutter;
  margin-right: -$mobile-default-gutter;

  > [data-box] {
    padding-left: $mobile-default-gutter;
    padding-right: $mobile-default-gutter;
  }

  &.inner {
    margin-left: 0;
    margin-right: 0;

    > [data-box] {
      padding-left: $space-medium;
      padding-right: $space-medium;
    }
  }

  @include on(tablet) {
    margin-left: -$space-medium;
    margin-right: -$space-medium;

    > [data-box] {
      padding-left: $space-medium;
      padding-right: $space-medium;
    }
  }
}

.space {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
}

.space-top {
  padding-top: $space-medium;
}

.space-bottom {
  padding-bottom: $space-medium;
}

.space-small {
  padding-top: $space-small;
  padding-bottom: $space-small;
}

.space-tiny {
  padding-top: $space-tiny;
  padding-bottom: $space-tiny;
}

@mixin max($increase: 0px) {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px + $increase;

  @include on(tablet) {
    width: 96%;
  }

  @include on(desktop) {
    width: 100%;
  }
}

@mixin center() {
  margin-left: auto;
  margin-right: auto;
}

.row-max {
  @include max();
}

[data-box],
[class*='wdt'],
[data-breaks-on] {
  float: left;
  display: inline-block;
}

[data-box] {
  width: 100%;
}

[data-box].center {
  text-align: center;
}

[data-box].right {
  float: right;
}

[data-box='1of1'] {
  width: 100%;
}

[data-box='1of3'] {
  width: 33.33333%;
}

[data-box='2of3'] {
  width: 66.66667%;
}

[data-box='1of4'] {
  width: 25%;
}

[data-box='1of2'],
[data-box='2of4'],
[data-box='3of6'] {
  width: 50%;
}

[data-box='1of5'] {
  width: 20%;
}

[data-box='2of5'] {
  width: 40%;
}

[data-box='3of5'] {
  width: 60%;
}

[data-box='3of4'] {
  width: 74%;
}

[data-box='4of5'] {
  width: 80%;
}

[data-box='1of6'] {
  width: 16.666666667%;
}

[data-box='2of6'] {
  width: 33.333333334%;
}

[data-box='5of6'] {
  width: 83.333333335%;
}

[data-box='1of8'] {
  width: 12.5%;
}

[data-box='1of7'] {
  width: 14.2%;
}

[data-box='1of6'] {
  width: 16.666666667%;
}

[data-breaks-on] {
  width: 100%;
}

@include on(mobile) {
  [data-breaks-on*='mobile-to-hidden'] {
    display: none;
  }

  [data-breaks-on*='mobile-to-third'] {
    display: inline-block;
    width: 33.33333%;
  }

  [data-breaks-on*='mobile-to-half'] {
    display: inline-block;
    width: 50%;
  }

  [data-breaks-on*='mobile-to-full'] {
    display: inline-block;
    width: 100%;
  }
}

@include on(tablet) {
  [data-breaks-on*='tablet-to-hidden'] {
    display: none;
  }

  [data-breaks-on*='tablet-to-third'],
  [data-breaks-on*='tablet-to-1of3'] {
    display: inline-block;
    width: 33.33333%;
  }

  [data-breaks-on*='tablet-to-2of3'] {
    display: inline-block;
    width: 66.66666%;
  }

  [data-breaks-on*='tablet-to-half'] {
    display: inline-block;
    width: 50%;
  }

  [data-breaks-on*='tablet-to-full'] {
    display: inline-block;
    width: 100%;
  }
}

@include on('desktop') {
  body {
    [data-breaks-on*='desktop-to-fourth'] {
      display: inline-block;
      width: 25%;
    }

    [data-breaks-on*='desktop-to-third'] {
      display: inline-block;
      width: 33.33333%;
    }

    [data-breaks-on*='desktop-to-half'] {
      display: inline-block;
      width: 50%;
    }

    [data-breaks-on*='desktop-to-full'] {
      display: inline-block;
      width: 100%;
    }

    [data-breaks-on*='desktop-to-2of3'] {
      display: inline-block;
      width: 66.66667%;
    }
  }
}

.pdg-5 {
  padding: 5px;
}

.pdg-5-trb {
  padding: 5px 5px 5px 0;
}

.pdg-5-tbl {
  padding: 5px 0 5px 5px;
}

.pdg-10 {
  padding: 10px;
}

.pdg-x-t {
  padding-top: 15px;
}

.pdg-x-b {
  padding-bottom: 15px;
}

.pdg-x {
  padding: 15px;
}
