.howto {
  @include cf();

  padding-bottom: 20px;

  > div {
    float: left;
    width: 33.3334%;
    text-align: center;
    padding: 10px 20px;

    h3 {
      color: $color-primary;
      font-size: 20px;
      display: block;
      width: 100%;
      font-weight: 300;
      padding: 10px 0 20px;
    }

    svg {
      fill: $color-primary;
      width: 60px !important;
      height: 60px !important;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
    }
  }
}
