label {
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  display: block;
  padding: 0 0 10px;
  @extend %noselect;

  &.optional {
    padding: rem(6px) 0;

    strong {
      display: block;
      padding-bottom: rem(2px);
    }

    small {
      color: $color-grey-dark;
      font-size: rem(11px);
      font-weight: 400;
    }
  }
}
