[class*='checkbox'] {
  @extend %round;

  float: left;
  padding: 2px;
  border: 1px solid #e1e1e1;
  background: #fff;
  cursor: pointer;

  svg {
    fill: $color-primary;
  }

  & ~ label {
    display: inline-block;
    padding: 7px 0 0 7px;
    cursor: pointer;
  }

  &[class*='-medium'] {
    width: 30px;
    height: 30px;

    svg {
      height: 25px;
      width: 25px;
    }
  }

  &[class*='-small'] {
    width: 22px;
    height: 22px;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  &[class*='-active'] {
    border-color: $color-primary !important;
  }

  &[class*='-disabled'] {
    border-color: #c4c4c4 !important;

    svg {
      fill: #c4c4c4;
    }
  }
}
