.opentimes {
  ul {
    float: left;
    width: 14.2%;
    border-right: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;

    &:first-child {
      border-left: 1px solid #d8d8d8;
    }

    li {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border-bottom: 1px solid #d8d8d8;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: $color-primary;
      }
    }
  }
}
